body,#social{
    background-color: rgb(56, 54, 54);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#main{
    background-color: lightseagreen ;
    color: rgb(7, 0, 10);
    border-color: lightyellow;
    list-style: none;
    font-size: medium;
    font-weight: normal;
    line-height: 1.6em;
    text-decoration-style: solid;

}



#navbar{
    padding: 0.8rem;
    background-color: black;
}
.navbar-nav{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;
}



.box1{
    width: 70%;
    text-align:center;
    margin: auto;
    border-top: 5px;




}
h3, h2, h5{
    color: rgb(11, 87, 250);
    text-indent: 1em;
    padding-right: 5px;
    margin: 0.5em;

}
.box2{

    color: rgb(250, 247, 252);
    /*columns: 20;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: normal;
    line-height: 2em;
    margin: 0em;
    text-align:center;
    border: 15px;
    border-bottom: 0px;
    list-style-type: none;
}
h5{
    text-align: end;
    text-size-adjust: 0.2em;
    text-transform: uppercase;

}
.box4{
    text-align: center;
    text-indent: center;
    padding-left: 5px;
    background-size: 100%;
    text-size-adjust: 20px;

}
.social a{
    font-size: 2.5em;
    padding: 2.5em;
}
.nav-item a{
    font-size: 1em;
    padding: 1.5em;
    color: darkolivegreen;
}


.copyright{
    text-align: center;
    text-decoration: whitesmoke;
    margin-bottom: 0em;
}

#footer{
    background-color: rgb(36,39,31);
    background-position: 0%;
    border-bottom: 0%;
    text-decoration-color:rgb(206, 191, 191);
    background-repeat: inherit;
    text-decoration-style: wavy;
    color:rgb(180, 177, 177);
}
